#Salesimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 50px;
}

#Ordersimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 50px;
}

#Staffsimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 50px;
}

#Productsimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 50px;
}
